<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DcsBiosCOMHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DcsBiosCOMHandler.Properties.Settings>
            <setting name="DCSBiosLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowNewSerialPortsAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProfileFileUsed" serializeAs="String">
                <value/>
            </setting>
            <setting name="DCSAddressFrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="DCSAddressTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="DCSPortFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSPortTo" serializeAs="String">
                <value>0</value>
            </setting>
        </DcsBiosCOMHandler.Properties.Settings>
    </userSettings>
</configuration>
